html, body { margin:0; padding:0; left:0; top:0; }

/********************************************************************************
  Layout
 ********************************************************************************/
.s_top { position: fixed; left:0; top:0; margin:0; padding:0; width:100%; height:40px; z-index:100; }
    .s_top ul { display: inline-block; list-style-type: none; margin:0; padding:0 10px; height:40px; overflow: hidden; }
        .s_top li { float:left; height:40px; }
            img.logo { width:25px; height:25px; margin:8px; }
            .companyName { line-height:40px;}
    ul.s_menu { float: right; }
            .s_menu a { display: block; line-height:40px; padding:0 10px; }

.s_main { position: relative; margin:0 auto; padding:0 10px; width:920px; height:100vh; }
.s_container { position: relative; margin:0; margin-top:50px; padding:0; width:100%; }    
    /* Layer A */
    #layerA div.menuIcon { margin:0; padding:0; width:35px; height:35px; }
    #layerH, #layerJ { margin-bottom:15px; }

.layer { position:absolute; }

/* Bootstrap hack */
.s_main .s_container #layerE .container { width:100% !important; }
@media (min-width: 0px){ .container { max-width: 100% !important; } }

/********************************************************************************
  Design
 ********************************************************************************/
body { background: #1E2D3F; line-height: 1.2; /*box-sizing:border-box;*/ font-family: 'Poiret One', cursive !important; font-size:14px; }
input, textarea, select, button { font-family: 'Poiret One', cursive !important; font-size:14px; }
li { box-sizing:content-box; }

h1
{
    margin:0;
    padding:0;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.bold { font-weight:600; }

a:hover,
a:visited,
a:active,
a:link { text-decoration:none; }

.q1 { quotes: "“" ""; }
.q2 { quotes: "" "”"; }
.q3 { quotes: "" "„"; }

button:hover,
input[type=submit]:hover
{ cursor: pointer; background: #E53636 !important; border-color:#E53636 !important; }

#layerA div.menuIcon.home:hover,
#layerA div.menuIcon.social:hover
{ cursor: pointer; opacity: .7 !important; }

/****************************************
  Top Menu
 ****************************************/
.s_top { background:#293D57; border:0px; }

/* Hightlight menu of current page */
.s_top .about .about,
.s_top .food .food,
.s_top .delivery .delivery,
.s_top .faq .faq,
.s_top .feedback .feedback,
.s_top .contactus .contactus,
.s_top .login .login,
.s_top .signup .signup
{
    background:#E53636;
}

/* Mouse over on menu */
.s_top li.about:hover,
.s_top li.food:hover,
.s_top li.delivery:hover,
.s_top li.faq:hover,
.s_top li.feedback:hover,
.s_top li.contactus:hover,
.s_top li.login:hover,
.s_top li.signup:hover
{
    background:orange;
}

.s_top .gap { width:30px; }

.companyName a
{
    font-family: 'Poiret One', cursive;
    font-size:20px;
    color:white;
}

.s_menu
{
    font-family: 'Poiret One', cursive;
    color:#fff;
}

.s_menu a
{
    color:#fff;
    text-decoration: none;
    text-align: center;
}

.menuTab { display:none; width:100%; }

/****************************************
  Main
 ****************************************/
.s_container
{
    font-family: 'Poiret One', cursive;
}

.s_container div.layer
{
    background:#fefefe;
    border-radius: 3px;
}

.layer { border:0px; }


/****************************************
  Layer A
 ****************************************/
#layerA { background:#cae7ff; }
#layerA div.menuIcon.home
{
    background: transparent url("/imgs/home.png") no-repeat 2px 3px;
    background-size:32px;
}
#layerA div.social{
    background: transparent url("/imgs/social_icons.png") no-repeat right top;
    background-size:130px;
}
#layerA div.menuIcon.social.facebook{ background-position: 1px 2px; }
#layerA div.menuIcon.social.tweeter { background-position: -95px 2px; }
#layerA div.menuIcon.social.youtube { background-position: 1px -30px; }
#layerA div.menuIcon.social.vimeo { background-position: -63px -30px; }

/****************************************
  layer J : Bottom
 ****************************************/
#layerJ
{
    background: #fff6e7;
}

#layerJ div.bg
{
    position: absolute;
    left:0px;
    top:0px;
    width: 250px;
    height: 180px;
    overflow: hidden;
    border-radius: 3px 0 0 3px;
}
#layerJ .bg img
{   
    position: relative;
    left:-30px;
    width: 333px;
}

#layerJ .gMap
{
    position: absolute;
    left:250px;
    top:0px;
    width: 190px;
    height: 160px;

    margin:10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: #d4d4d4 1px 1px 5px 1px;
}

#layerJ .contactus
{
    position: absolute;
    left: 460px;    
}
#layerJ .contactus h1 { margin:20px 5px; color:#00b0f0; }
#layerJ .contactus p { margin:10px 0;}
#layerJ .contactus p.newline { margin:-15px 0 0 27px; }
#layerJ .contactus img { width:20px; margin-right:7px; }
#layerJ .contactus span { vertical-align: top; font-size:12px; line-height:20px; }

/****************************************
  Star rating with heart symbol
 ****************************************/
.fa.heart:before { color:orange; }
.fa.heart:after { color:#ccc; }
.fa.heart.rating5:before { content: "\f004\f004\f004\f004\f004"; }
.fa.heart.rating4:before { content: "\f004\f004\f004\f004"; }
.fa.heart.rating4:after { content: "\f004"; }
.fa.heart.rating3:before { content: "\f004\f004\f004"; }
.fa.heart.rating3:after { content: "\f004\f004"; }
.fa.heart.rating2:before { content: "\f004\f004"; }
.fa.heart.rating2:after { content: "\f004\f004\f004"; }
.fa.heart.rating1:before { content: "\f004"; }
.fa.heart.rating1:after { content: "\f004\f004\f004\f004"; }
.fa.heart.rating0:before { content: ""; }
.fa.heart.rating0:after { content: "\f004\f004\f004\f004\f004"; }
.fa.heart.rating
{
    height: 25px;
    line-height: 25px;
    margin: 0 7px 0 10px;
}
.fa.heart.rating:before { content: "\f004"; }

div.ratingBox
{
    position: absolute;
    top:40px;
    right:0px;
    height:25px;
    width:60px;
    background:#fdc64e;
    border-radius:3px 0 0 3px; 
}
div.ratingBox span
{
    display:inline-block;
    vertical-align:top;
    height:25px;
    line-height:25px;
    color:#fff;
    font-weight:600;
}


/****************************************
  Tablet & Phone
 ****************************************/

 /* Phone */
@media only screen and (max-width:420px) {}
@media only screen and (max-width:690px)
{
    ul.s_menu
    {
        overflow:auto;
        height:auto;
    }

    ul.s_menu li
    {
        display: none;
        float: none;
        height:auto;
        background:#333;
    }

    ul.s_menu li.menuTab a { text-align: right; }

    ul.s_menu li.menuTab { display: block; background:#2a3e57; }
    ul.s_menu:hover li { display: block !important; }
}

@media only screen and (min-width:421px) and (max-width:690px){}
@media only screen and (min-width:691px) and (max-width:940px){}