/****************************************
  layer B : Slogan
 ****************************************/
#layerB
{
    font-size:28px;
    text-align:center;
}
#layerB span.slogan
{
    line-height:180px;
    color:#c5c5c5;
}
#layerB span.slogan b { color:#4a400c; }
#layerB .q1,
#layerB .q3 { font-size: 40px; color:orange; }

/* layer D : About us */
#layerD { background: #aadbff; }
#layerD h1 { margin:30px 20px 20px; color: #002142; }
#layerD p { margin:20px; color:#2b6690; }
#layerD img { width:100%; }
#layerD p.ceo { text-align: right;}


/****************************************
  layer E : Chef1
 ****************************************/
#layerE img
{
    position: absolute;
    right:0;
    bottom:0;
    height:160px;
}
#layerE .q1 { font-size: 30px; color:orange; padding:0px; }
#layerE p:nth-child(1) { margin:15px 0 0 15px; width: 170px;  font-size:14px; color: #777; }
#layerE p:nth-child(2) { position: absolute; left:10px; bottom:10px; margin:30px 0 0 15px; color: #222; font-size:14px; font-weight:600; }

/****************************************
  layer F : Chef2
 ****************************************/
#layerF img
{
    position: absolute;
    left:0;
    bottom:0;
    height:160px;
}
#layerF { text-align: right; }
#layerF .q1 { font-size: 30px; color:orange; padding:0px; }
#layerF p:nth-child(1) { float:right; margin:15px 15px 0 0; width: 170px;  font-size:14px; color: #777; }
#layerF p:nth-child(2) { position: absolute; right:10px; bottom:10px; margin:30px 15px 0 0; color: #222; font-size:14px; font-weight:600; }

/****************************************
  layer H : Grand Open
 ****************************************/
#layerH { background: transparent; overflow: hidden; }
#layerH img { width: 100%; border-radius: 3px; }


/****************************************
  layer I : Staff photo
 ****************************************/
#layerI { overflow: hidden; }
#layerI img
{
    width:108%;
    border-radius:3px;
    filter:grayscale(.8);
}

/****************************************
  Responsive
 ****************************************/
@media only screen and (max-width:550px)
{
    #layerH img { width:100%; }
}
@media only screen and (min-width:550px) and (max-width:690px)
{
    #layerH img { width:100%; }
}
@media only screen and (min-width:690px) and (max-width:940px)
{
    #layerG img.bg { width:180px; right:0px; top:13px; margin:0px 50px;}
    #layerG div.ratingBox { top:8px; }
}