/****************************************
  Layer B : Random Food
 ****************************************/
#layerB ul.foodInfo { margin:0; padding:20px    ; }
#layerB .bgFood { position: absolute; right:5px; bottom:5px; height: 170px; }
#layerB .foodInfo .rating,
#layerB .foodInfo .rating i { height:30px;  line-height: 30px; }
#layerB .views ul { display: inline-block; margin:10px 0; padding:0; }
#layerB .order button { height: 30px; width: 90px; }

#layerB ul,
#layerB li
{
    list-style: none;
}

#layerB .foodInfo .text
{
    font-size: 12px;
    font-weight: 600;
    color: #444;
}

#layerB .views .slash
{
    font-size: 30px;
    color:#666;
}

#layerB .order button
{
    border-radius:3px;
    background:#8BBF5D;
    font-size:14px;
    color:#fff;
    border:0px;
}

/****************************************
  layer C : Ingradients
 ****************************************/
#layerC .Ingredients { position: absolute; top:0px; width:130px; padding:17px 25px; margin:0px; }
#layerC .Ingredients li:first-child { padding-bottom:15px; }
#layerC .bg { position: absolute; bottom:10px; left:10px; margin:0; padding:0; width:160px; }
#layerC .filter { position: absolute; top:0; left:0; width:100%; height:100%; }

#layerC { color:#ccc; }
#layerC ul,
#layerC li
{
    list-style: none;
}
#layerC h1 { text-align: center; color:#fff; }
#layerC ul.Ingredients { box-sizing: content-box; }
#layerC .Ingredients li { height:20px; }
#layerC .Ingredients .left { float:left; font-size:10px; }
#layerC .Ingredients .right { float:right; font-size:12px; }

#layerC img.bg
{
    border-radius: 3px;
}
#layerC div.filter
{
    background: #293D57;
    border-radius: 3px;
    opacity: .9;
}

/****************************************
  layer D : Weather ticker
 ****************************************/
#layerD { background: #001f3c; }

/* layer E : Testmonial */
#layerE { text-align:left; background:#FEC740; }
#layerE img.bg { position: absolute; right:0px; bottom:0px; width:170px; }
#layerE p { margin: 16px 20px 0 16px; }

/****************************************
  layer F : Foods
 ****************************************/
#layerF h1
{
    padding: 20px 20px 10px;
    font-weight: 600;
}

#layerF table { width:100%; font-size:10px; text-align:center; border-collapse: collapse; }
#layerF table th { font-size:12px; background:#8CBE62; padding:10px 0px; color:#fff; }
#layerF table td { padding:5px 0px; border-bottom: 1px solid #eee; height:40px; }

#layerF tr.selected { background:#FDC64E; color:#fff; }
#layerF tr:hover { background:#4ed5fd; }

#layerF img { width:50px; }
#layerF button.add { margin:0px; padding:5px; border-radius:3px; background:#8DBD66; font-size:10px; }
#layerF button { border:0px; border-radius: 3px; padding:10px; font-size: 14px; color:#fff; }
#layerF button.decrease,
#layerF button.increase
{
    padding:0;
    width:15px;
    height:15px;
    line-height:15px;
    background: #aaa;
}
#layerF button.decrease { margin-right:5px; }
#layerF button.increase { margin-left:5px; }

#layerF .btns { width:250px; margin:0 auto; } 
#layerF button.myCart    { background: #FEC740; margin:10px 0px 10px 20px; }
#layerF button.emptyList { background: #999; margin:10px 20px 10px 0px; }

/****************************************
  layer G : Selected Food
 ****************************************/
#layerG { background:#0084ab; }

#layerG h1 { margin:20px 0 10px 20px; color:#fff; }
#layerG p { margin-left:20px; color:#fff; font-size:12px; }
#layerG .ratingBox
{
    position: absolute;
    top:40px;
    right:0px;
    height:25px;
    width:60px;
    background:#fdc64e;
    border-radius:3px 0 0 3px; 
}
#layerG .ratingBox span
{
    display:inline-block;
    vertical-align:top;
    height:25px;
    line-height:25px;
    color:#fff;
    font-weight:600;
}

#layerG .bg
{
    position: absolute;
    top:60px;
    width:250px;
    margin:0 40px;
}

#layerG .caption
{
    position: absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:50px;
    background:#fff;
    border-radius: 0 0 3px 3px;
}

#layerG button.more
{
    height:50px;
    width:80px;
    border-radius: 0 0 0 3px;
    border:0px;
    background:#007194;
    color:#fff;
    font-size:14px;
    margin-right: 7px;
}
#layerG span { font-size:12px; color:#007194; }

/****************************************
  Responsive
 ****************************************/
@media only screen and (max-width:550px)
{
    #layerC img.bg { left:auto; right:20px; bottom:20px; }
    /* #layerG img.bg { left:auto; right:0; bottom:20px; } */
    #layerG img.bg { width:50%; right:0px; bottom:20px; margin:0px 30px;}
}
@media only screen and (min-width:550px) and (max-width:690px)
{
    #layerG img.bg { width:180px; right:0px; top:13px; margin:0px 10px;}
    #layerG div.ratingBox { top:8px; }
}
@media only screen and (min-width:690px) and (max-width:940px)
{
    #layerG img.bg { width:180px; right:0px; top:13px; margin:0px 50px;}
    #layerG div.ratingBox { top:8px; }
}